body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #70c5ce;
    font-family: Arial, sans-serif;
}

.game-container {
    position: relative;
}

canvas {
    border: 2px solid #fff;
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

#restartBtn {
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}
